$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';
$black: #000;
$x-color: #f2183d;
$o-color: #4ecdc4;
$reset: #f2183d;
$reset2: #4ecdc4;
$usermessage: #fff;

body {
  background-image: url('./zen-opac.png');
}

.title {
  margin-left: 50px;
  z-index: 2;
  display: none;
}

.proverb {
  font-size: 10px;
  font-style: italic;
  text-align: left;
}

.messages {
  color: $black;
  float: left;
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto;
}

.wrap-board {
  display: none;
}

#board {
  margin-bottom: 10px;
  margin-top: 10px;
}

.box {
  border: 1px solid $black;
  cursor: pointer;
  font-size: 50px;
  height: 150px;
  padding: 38px 0;
}

.button-wrapper {
  display: none;
  margin: 0 auto;
  text-align: center;
}

.X {
  color: $x-color;
}

.O {
  color: $o-color;
}

#reset {
  display: none;
}

.btn-reset {
  background-color: $reset;
  border-color: $reset;
}

.btn-reset:hover {
  background-color: $reset2;
  border-color: $reset2;
}

#game-stats {
  display: none;
}
